.conteiner {
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    gap: 100px;
    overflow: hidden;
    
}