.rulesGame {
    color: var(--white);
    .precondition {
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: .8rem;
        color: var(--white);
    }

    b {
        color: var(--orange);
    }
}