.gamePanel {
    display: flex;
    justify-content: space-around;
    width: 90%;

    button {
        font-size: 1.3rem;
        background-color: #3A3A3A;
        border-radius: 15px;
        width: 200px;
        height: 60px;
        position: relative;
        display: flex;
        align-items: center;
        border: none;
        justify-content: center;
        gap: 10px;
        transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

        i {
            font-size: 2.5rem;
            transition: transform 0.1s linear;



        }

        &:hover {
            background-color: #303030;

            i {
                transform: scale(1.1);
            }
        }
    }


}