.settingField {
    display: flex;
    width: 100%;
    height: 50%;
    position: relative;

    .FieldItem {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        gap: 30px;

        .cell {
            width: 40px;
            height: 40px;
            background-color: #D9D9D9;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .cellArrowHeight {
                z-index: 1;
                position: absolute;
                height: inherit;
                top: 40%;
                right: -15px;
                font-size: 20px;
                color: #D9D9D9;
                transform: scaleY(1.7);
            }

            .cellArrowWidth {
                z-index: 1;
                position: absolute;
                height: inherit;
                bottom: -38px;
                font-size: 20px;
                color: #D9D9D9;
                transform: scaleX(1.7);
            }

            .inputField {
                margin-top: 110px;
                z-index: 2;
                display: flex;
                gap: 5px;

                .inputCell {

                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }

                    &:focus,
                    &:active {
                        outline: 0;
                        outline-offset: 0;
                    }

                    background-color: #222;
                    border: none;
                    width: 40px;
                }
            }
        }

        .field {
            width: 120px;
            height: 120px;
            background-color: #D9D9D9;
            background: url('/field.png');
            background-repeat: no-repeat;
            background-size: 100%;

        }
    }
}